/*FORMA*/
*{
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Spartan', sans-serif;
}

body{
  height: 100vh;
  width: 100vw;
  font-size: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: hsl(222, 26%, 31%);
  color: white;
}
section{
  display: grid;
  grid-template-columns: auto auto auto auto;
  background-color: hsl(223, 31%, 20%);
  border-radius: 10px;
  padding: 0.5em;
}
.calculator{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.attribution{
  font-size: 0.3em;
  margin-top: 2em; 
}
.screen{
  height: 1.7em;
  width: 9.6em;
  padding: 0.5em;
  grid-column: 1/5;
  margin-bottom: 0.6em;
  border-radius: 10px;
  background-color: hsl(224, 36%, 15%);
  color: white;
  font-size: 32px;
  text-align: end;
}
.bttn{
  height: 2em;
  width: 2em;
  margin: 0.2em;
  border-radius: 5px;  
  transition: 0.1ms;
  font-size: 32px;
}
.bttn:hover{
  filter: invert(0.3) ;
}
.bttn:active{
  filter: invert(1) ;
}
/*CORES*/
#lnkCol{  
  color: white;
}
.bntCol1{
  box-shadow: 0px -4px 0px 0px hsl(28, 16%, 65%) inset;
  background-color: hsl(30, 25%, 89%);
  color: hsl(221, 14%, 31%);
}
.bntCol2{
  box-shadow: 0px -4px 0px 0px hsl(224, 28%, 35%) inset;
  background-color: hsl(225, 21%, 49%);
  color: white;
/*arrumando tamanho da fonte do botao DEL e RESET que deve ser menor que os outros*/
  font-size: 16px;
  height: 4em;
  width: 4em;
  margin: 0.4em;
}
#btnCol3{
  box-shadow: 0px -4px 0px 0px hsl(6, 70%, 34%) inset;
  background-color: hsl(6, 63%, 50%);
  color: white;
}
/*tamanho dos botoes RESET e "="*/
.col2{
  grid-column: 1/ span 2;
  width: 8.8em;  
}
.col3{
  grid-column: 3/ span 2;
  width: 4.4em;
}




/*O BOTAO!*/
.titleSel{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 10.5em;
  margin-bottom: 1em;
}
.titleSel h5{
  font-size: 34px;
}
.themebox{
  font-size: 12px;  
  display: flex;
  align-items: flex-end;
}
.themebox p{
  margin-bottom: 2px;
  margin-right: 25px;
}
.whlSwt{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.labels{
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 3px;
}
.switch{
  position: relative;
  display: flex ;
  background-color: hsl(223, 31%, 20%);
  border-radius: 10px;
}
.switch input{
  border: 0px;
  width: 21px;
  height: 21px;
  opacity: 0;
  cursor: pointer;
}
.slider{
  cursor: pointer;
  position: absolute;
  width: 15px;
  height: 15px;
  top: 3px;
  /*left=24px para o meio,left=44px para a posicao final*/
  left: 3px;
  right: 0;
  bottom: 0;
  background-color: hsl(6, 63%, 50%);
  border-radius: 10px;
}

